{% extends 'base.html.twig' %}

{% block body %}
<h1 class='display-2 py-3 mb-4 border-bottom text-center'>Reporte de Equipos</h1>
<div>
    <table class="table table-striped">
        <thead>
            <tr class="table-dark">
                <th>Nombre de Equipo</th>
                <th>Jugadores</th>
                <th>Estado de Suspensión</th>
            </tr>
        </thead>
        <tbody>
        {% for equipo in equipos %}
            <tr>
                <td>{{ equipo.nombre }}</td>
                <td>
                    <ul class="list-unstyled">
                    {% for usuario in equipo.usuarios %}
                        <li class="mb-2">  
                            {% if usuario.foto %}
                                <img src="{{ asset('uploads/imagenes/' ~ usuario.foto) }}" alt="{{ usuario.nombre }}" width="100">
                            {% endif %}
                            {{ usuario.nombre }} {{ usuario.apellido }}
                        </li>
                    {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                    {% for usuario in equipo.usuarios %}
                        {% set suspendido = false %}
                        {% set detallesSuspension = '' %}
                        
                        {% for incidente in usuario.incidente %}
                            {% if incidente.tipo == 'roja' %}
                                {% set suspendido = true %}
                                {% set jornadaNombre = '' %}

                                {% for jornada in equipo.jornada1 %}
                                    {% if incidente.fechasuspencion >= jornada.fecha and incidente.fechaincidente <= jornada.fecha %}
                                        {% set jornadaNombre = 'Jornada ' ~ jornada.equipo1.nombre ~ ' vs ' ~ jornada.equipo2.nombre ~ ' - ' ~ jornada.fecha|date("d/m/Y") %}
                                    {% endif %}
                                {% endfor %}
                                
                                {% if jornadaNombre == '' %} 
                                    {% for jornada in equipo.jornada2 %}
                                        {% if incidente.fechasuspencion >= jornada.fecha and incidente.fechaincidente <= jornada.fecha %}
                                            {% set jornadaNombre = 'Jornada ' ~ jornada.equipo1.nombre ~ ' vs ' ~ jornada.equipo2.nombre ~ ' - ' ~ jornada.fecha|date("d/m/Y") %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                
                                {% set detallesSuspension = 'Suspendido el ' ~ incidente.fechasuspencion|date("d/m/Y") ~ jornadaNombre %}
                            {% endif %}
                        {% endfor %}
                        
                        <li>
                            {{ usuario.nombre }}: 
                            {% if suspendido %}
                                <span class="text-danger">Suspendido</span><br>
                                <small>{{ detallesSuspension }}</small>
                            {% else %}
                                <span class="text-success">No Suspendido</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
